@model Systemize.Models.Workflow





<link rel="stylesheet" href="~/css/timeline-4.css" asp-append-version="true" />


<!-- Timeline 4 - Bootstrap Brain Component -->
<section class="bsb-timeline-4  py-3 py-md-5 py-xl-8">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-10 col-md-12 col-xl-10 col-xxl-9">




<ul class="timeline">
    @if (Model.History != null)
    {
        var index = 1;
        foreach (var item in Model.History)
        {
            if (index % 2 == 0)
            {
                <li class="timeline-item left">
                    <div class="timeline-body">
                        <div class="timeline-meta">
                            <div class="d-inline-flex flex-column px-2 py-1 text-success-emphasis bg-success-subtle border border-success-subtle rounded-2 text-md-end">
                                <span>@item.ExecutedAt.ToString()</span>
                            </div>
                        </div>
                        <div class="timeline-content timeline-indicator">
                            <div class="card border-0 shadow">
                                <div class="card-body p-xl-4">
                                    <h2 class="card-title mb-2">@item.EventName</h2>
                                    <h6 class="card-subtitle text-secondary mb-3">Executed by:@item.ExecutedBy</h6>
                                    <p class="card-text m-0">Description: @item.Description</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            }
            else
            {
                <li class="timeline-item right">
                    <div class="timeline-body">
                        <div class="timeline-meta">
                            <div class="d-inline-flex flex-column px-2 py-1 text-success-emphasis bg-success-subtle border border-success-subtle rounded-2 text-md-end">
                                <span>@item.ExecutedAt.ToString()</span>
                            </div>
                        </div>
                                        <div class="timeline-content timeline-indicator">
                                            <div class="card border-0 shadow">
                                                <div class="card-body p-xl-4">
                                                    <h2 class="card-title mb-2">@item.EventName</h2>
                                                    <h6 class="card-subtitle text-secondary mb-3">Executed by:@item.ExecutedBy</h6>
                                                    <p class="card-text m-0">Description: @item.Description</p>
                                                </div>
                                            </div>
                                        </div>
                    </div>
                </li>
            }
            index++;
        }
    }
</ul>
                </ul>

            </div>
        </div>
    </div>
</section>


<a asp-action="Index">Back to List</a>