@model IEnumerable<Systemize.Models.Document>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
        
            <th>
                @Html.DisplayNameFor(model => model.ContentType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DocumentType)
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var item in Model)
            {

                if (item.ContentType == "application/pdf"){

                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.ContentType)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DocumentType)
                        </td>
                        <td>
                            <a asp-action="DocumentView" asp-route-id="@item.WorkflowId" asp-route-document="@item.DocumentID"> View </a> |
                            <a asp-action="DocumentDownload" asp-route-id="@item.WorkflowId" asp-route-document="@item.DocumentID" target="_blank"> Download </a>
                        </td>
                        <td>
                            <a asp-action="DocumentEdit" asp-route-id="@item.WorkflowId" asp-route-document="@item.DocumentID">Edit</a> |
                            <a asp-action="DocumentDelete" asp-route-id="@item.WorkflowId" asp-route-document="@item.DocumentID">Delete</a>
                        </td>
                    </tr>

                }
                else{

        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
       
            <td>
                @Html.DisplayFor(modelItem => item.ContentType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DocumentType)
            </td>
                    <td>
                        <a asp-action="DocumentDownload" asp-route-id="@item.WorkflowId" asp-route-document="@item.DocumentID" target="_blank"> Download </a>
                    </td>
            <td>
                        <a asp-action="DocumentEdit" asp-route-id="@item.WorkflowId" asp-route-document="@item.DocumentID">Edit</a> |
                        <a asp-action="DocumentDelete" asp-route-id="@item.WorkflowId" asp-route-document="@item.DocumentID">Delete</a>
            </td>
        </tr>

                }

            }
        
        }
    </tbody>
</table>
