@model IEnumerable<Systemize.Models.Link>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.URL)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @if (Model != null)
        {
            foreach (var item in Model)
            {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
            <td>

                        <a href="@item.URL" target="_blank"> @Html.DisplayFor(modelItem => item.URL) </a>
                
            </td>
            <td>
                <a asp-action="LinkEdit" asp-route-id="@item.LinkID">Edit</a> |
                <a asp-action="LinkDelete" asp-route-id="@item.LinkID">Delete</a>
            </td>
        </tr>
}       
}
    </tbody>
</table>
