@model Systemize.Models.Workflow

@{
    ViewData["Title"] = "Details";
}
<div>
    <h3 class="fw-normal"> @Html.DisplayFor(model => model.Name)</h3>
    <p class="fw-light">  @Html.DisplayFor(model => model.Description) </p>
</div>

<div>
    <partial name="_ActionListView" model="@Model" />
</div>

<div>
    <hr class="hr hr-blurry" />
    <h5>Documents</h5>  
    @{
        var uploadURL = "../Upload/" + Model.Id.ToString();
    }
    <a href="@uploadURL" >Upload Document</a>
    <partial name="_Documents" model="@Model.Documents" />  
</div>




<div>
    @{
        var metaURL = "../Meta/" + Model.Id.ToString();
    }
    <a href="@metaURL" class="float-end mx-2">View Metadata</a>
</div>


<div>
@{
    var historyURL = "../History/" + Model.Id.ToString();
}
    <a href="@historyURL" class="float-end mx-2">View History</a>
</div>

<div>
    <a asp-action="Index">Back to Workflow List</a>
</div>