@model Systemize.Models.ViewModel.Workflow.WorkflowEntire

@{
    ViewData["Title"] = "Details";

}


<div>
    <h3 class="fw-normal"> @Html.DisplayFor(model => model.Workflow.Name)</h3>
    <p class="fw-light">  @Html.DisplayFor(model => model.Workflow.Description) </p>
    <p class="fw-light">  Status: @Html.DisplayFor(model => model.Workflow.Status) </p>

    <div>
    <p class="fw-light">Tags:
    @if (Model.Workflow.Tags != null && Model.Workflow.Tags.Count > 0)
    {

        @foreach (var tag in Model.Workflow.Tags)
        {
        <span class="badge bg-info-subtle text-info-emphasis rounded-pill">@tag.Name</span>
        }

    }
    </p>
    </div>
</div>


@if (ViewData["Action_Message"] != null && !String.IsNullOrEmpty(ViewData["Action_Message"].ToString()))
{
    <div class="alert alert-success" role="alert">
        @ViewData["Action_Message"].ToString()
    </div>
}

<div>
    <partial name="_ActionListView" model="@Model" />
</div>

<div>
    <hr class="hr hr-blurry" />
    <h5>Documents</h5>  
    @{
        var uploadURL = "../Upload/" + Model.Workflow.Id.ToString();
        if(!Model.isReadonly)
        {
            <a href="@uploadURL">Upload Document</a>
        }

    }
    
  
<partial name="_Documents" model="@Model.Workflow.Documents" />
</div>

<div>
    <hr class="hr hr-blurry" />
    <h5>Links</h5>
    @{
        var addlinkURL = "../LinkAdd/" + Model.Workflow.Id.ToString();

        if (!Model.isReadonly)
        {
            <a href="@addlinkURL">Add Link</a>
        }
    }
  
    <partial name="_Links" model="@Model.Workflow.Links" />
</div>

<hr class="hr hr-blurry" />
<h5>Stages</h5>
@{
    var addstageURL = "../StageAdd/" + Model.Workflow.Id.ToString();

    if (!Model.isReadonly)
    {
        <a href="@addstageURL">Add Stage</a>
    }
}

<partial name="_Stages" model="@Model.Workflow.Stages" />



<div>
    @{
        var metaURL = "../Meta/" + Model.Workflow.Id.ToString();
    }
    <a href="@metaURL" class="float-end mx-2">View Metadata</a>
</div>


<div>
    @{
        var stagesURL = "../Stages/" + Model.Workflow.Id.ToString();
    }
    <a href="@stagesURL " class="float-end mx-2">View Stages</a>
</div>

<div>
@{
        var historyURL = "../History/" + Model.Workflow.Id.ToString();
}
    <a href="@historyURL" class="float-end mx-2">View History</a>
</div>

<div>
    <a asp-action="Index">Back to Workflow List</a>
</div>