@model Systemize.Models.ViewModel.WorkflowEntire;

@{
    ViewData["Title"] = "Details";
}
<div>
    <h3 class="fw-normal"> @Html.DisplayFor(model => model.Workflow.Name)</h3>
    <p class="fw-light">  @Html.DisplayFor(model => model.Workflow.Description) </p>
</div>

<div>
    <partial name="_ActionListView" model="@Model" />
</div>

<div>
    <hr class="hr hr-blurry" />
    <h5>Documents</h5>  
    @{
        var uploadURL = "../Upload/" + Model.Workflow.Id.ToString();
    }
    <a href="@uploadURL" >Upload Document</a>
    <partial name="_Documents" model="@Model.Workflow.Documents" />
</div>

<div>
    <hr class="hr hr-blurry" />
    <h5>Links</h5>
    @{
        var addlinkURL = "../addlink/" + Model.Workflow.Id.ToString();
    }
    <a href="@addlinkURL">Add Link</a>
    <partial name="_Links" model="@Model.Workflow.Links" />
</div>


<div>
    @{
        var metaURL = "../Meta/" + Model.Workflow.Id.ToString();
    }
    <a href="@metaURL" class="float-end mx-2">View Metadata</a>
</div>


<div>
@{
        var historyURL = "../History/" + Model.Workflow.Id.ToString();
}
    <a href="@historyURL" class="float-end mx-2">View History</a>
</div>

<div>
    <a asp-action="Index">Back to Workflow List</a>
</div>