@model Systemize.Models.Workflow

@{
    ViewData["Title"] = "Details";
}
<div>
    <h2> @Html.DisplayFor(model => model.Name)</h2>
    <p>  @Html.DisplayFor(model => model.Description) </p>
</div>


<div id="actionarea" ></div>
<script type="text/javascript">
    window.onload = function(){

    const baseUrl = `${window.location.protocol}//${window.location.host}/`;

    console.log("loading " + baseUrl );
    $.ajax( baseUrl +"Workflow/GetPartialActionListView", function( data ) {
    $( "#actionarea" ).html( data );
    console.log( "Load was performed." );
    });

    }

</script>







<hr class="hr hr-blurry" />
<h5>Documents</h5>  
@{
    var uploadURL = "../Upload/" + Model.Id.ToString();
}
<a href="@uploadURL" >Upload Document</a>
<partial name="_Documents" model="@Model.Documents" />  





<div>
    @{
        var metaURL = "../Meta/" + Model.Id.ToString();
    }
    <a href="@metaURL">View Metadata</a>
</div>


<div>
@{
    var historyURL = "../History/" + Model.Id.ToString();
}
<a href="@historyURL">View History</a>
</div>

<div>
    <a asp-action="Index">Back to Workflow List</a>
</div>