@model Systemize.Models.Document

@{
    ViewData["Title"] = "DocumentDelete";
}

<h1>Document Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Document</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DocumentType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DocumentType)
        </dd>
 
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContentType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContentType)
           
        </dd>
    </dl>
    
    <form asp-action="DocumentDelete">
        <input type="hidden" asp-for="WorkflowId" />
        <input type="hidden" asp-for="DocumentID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <div>
            @{
                var wfURL = "../Details/" + Model.WorkflowId.ToString();
            }
            <a href="@wfURL">Back</a>
        </div>
    </form>
</div>
