@model Systemize.Models.Workflow

@{
	ViewData["Title"] = "Meta";
}

<div>
    <h5>Meta</h5>

    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentStageId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CurrentStageId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentlyAssigned)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CurrentlyAssigned)
        </dd>

    </dl>
</div>


<hr class="hr hr-blurry" />
<h5>Stages</h5>
<partial name="_Stages" model="@Model.Stages" />










<div>
    @{
        var historyURL = "../Details/" + Model.Id.ToString();
    }
    <a href="@historyURL">Back</a>
</div>